<ion-header>
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <form>
   <ion-item lines="full">
     <ion-label position="floating">Email</ion-label>
     <ion-input type="text" #email required></ion-input>
   </ion-item>
   <ion-item lines="full">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" #password required></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button type="submit" (click)="onLogin(email, password)" expand="block">
        Iniciar Sesión
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <p class="ion-text-end">
        <a href="/forgout-password">¿Has olvidado tu contraseña?</a>
      </p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-text-center">
      <span> o </span>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" (click)="onLoginGoogle()" expand="block">
        Iniciar Sesión con Google
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <p class="ion-text-end">
        <a href="/register">Crear cuenta</a>
      </p>
    </ion-col>
  </ion-row>

 </form>

</ion-content>
